@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --darkblue: #292b36;
  --lightgray: #a8a9ae;
  --lightblue: #1e9bf0;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  @font-face {
    font-family: "customThin";
    font-style: normal;
    src: url("../public/fonts/gelion/Gelion Regular.ttf");
  }

  @font-face {
    font-family: "customBold";
    font-style: normal;
    src: url("../public/fonts/gelion/Gelion Bold.ttf");
  }

  .custom-thin-font {
    font-family: "customThin";
  }

  .custom-bold-font {
    font-family: "customBold";
  }
}
